@page "{restaurantId:int}"


@model OdeToFood.Pages.Restaurants.DetailModel
@{
    ViewData["Title"] = "Detail";
}

<a class="btn btn-lg" asp-page="./Edit" asp-route-restaurantId="@Model.Restaurant.Id">
    <i class="glyphicon glyphicon-edit"></i>
</a>
<h2>@Model.Restaurant.Name</h2>
<div>
    ID: @Model.Restaurant.Id
</div>
<div>
    Location: @Model.Restaurant.Location
</div>
<div>
    Cuisine: @Model.Restaurant.Type
</div>

@if (Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}

<a asp-page="./List" class="btn btn-default">All Restaurant</a>