@page
@model ListModel
@{
    ViewData["Title"] = "List";
}

<h2>Restaurants</h2>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" />
            <span class="input-group-btn">
                <button class="btn btn-default">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Cuisine</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var restaurant in Model.Restaurants)
        {
            <tr>
                <td>@restaurant.Name</td>
                <td>@restaurant.Location</td>
                <td>@restaurant.Type</td>
                <td>
                    <a class="btn btn-lg" asp-page="./Detail" asp-route-restauranteId="@restaurant.Id">
                        <i class="glyphicon glyphicon-zoom-in"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>@Model.Msg</div>



